body {
  background: url(../slam.png) no-repeat center 120px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo {
  float: left;
  width: 150px;
  padding: 30px 0;
  transition: all 0.3s ease;
}

::-webkit-input-placeholder {
   color: #e8e8e8;
}

:-moz-placeholder { /* Firefox 18- */
   color: #e8e8e8;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #e8e8e8;  
}

:-ms-input-placeholder {  
   color: #e8e8e8;  
}
.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
  top: 0;
}
.header-fixed {
  background: rgba(255, 255, 255, 0.95);
}
.header-fixed .logo {
  width: 100px;
  padding: 15px 0;
}
.header-fixed .navigation {
  padding-top: 15px;
}
header {
  width: 100%;
}
header nav {
  float: right;
}
.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 35px;
  transition: all 0.3s ease;
  margin-right: -25px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  padding: 7px 25px;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #c269a5;
  font-size: 20px;
}
.navigation a.button {
  font-size: 11px;
  padding: 0 30px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navigation a:hover {
  color: #333;
}
.navigation a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: width .3s;
}
.navigation a.button:after {
  display: none;
}
.navigation a:hover:after {
    width: 100%;
}
.about-info {
  margin-top: 300px;
  font-size: 3.6rem;
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 500px;
}
.about-info h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 7rem;
  line-height: 1;
  margin: 0;
}
.about-info p {
  width: 60%;
}
.about-info .button, .about-info .input-group {
   font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about-info input[type=email] {
  font-size: 15px;
}
.about {
  padding: 150px 0;
}
.about ul {
  list-style-position: outside;
  padding-left: 15px;
}
.middle {
  text-align: center;
}
.artists, footer {
  background-color: #f2707f;
  background-image: -webkit-linear-gradient(left, #f2707f, #d23a63); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to right, #f2707f, #d23a63); /* Chrome 26, Firefox 16+, IE 10+, Opera */
  border-top: 20px solid rgba(255, 255, 255, 0.3);
  padding: 60px 0;
  color: #fff;
}
footer {
  background-color: #a24790;
  background-image: -webkit-linear-gradient(left, #a24790, #832871); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to right, #a24790, #832871); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}
.footer-info p {
  margin: 0;
}
.input-group {
  margin-top: 15px;
}
.input-group input {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  float: left;
}
.input-group input[type="email"] {
  width: 50%;
  margin-right: 5px;
}

/* Artists */
.artists-list {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
}
.artist {
  float: left;
  width: 25%;
  height: 300px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}
.artist-placeholder {
  background: rgba(255, 255, 255, 0.3) url(../images/avatar1.png);
  background-position: center center;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.placeholder2 {
  background-image: url(../images/avatar2.png);
}
.placeholder3 {
  background-image: url(../images/avatar3.png);
}
.placeholder4 {
  background-image: url(../images/avatar4.png);
}
.placeholder5 {
  background-image: url(../images/avatar5.png);
}
.placeholder6 {
  background-image: url(../images/avatar7.png);
}
.placeholder7 {
  background-image: url(../images/avatar6.png);
}
.placeholder8 {
  background-image: url(../images/avatar8.png);
}
.overlay {
  display: none;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
}
.overlay.always-on-overlay {
  display: block;
}
.overlay span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 45px;
  display: block;
  width: 100%;
  text-align: center;
}
.artist:hover .overlay {
  display: block;
}

.mce-responses {
  background: rgba(255,255,255,0.7);
  color: #000;
  clear: both;
  font-size: 14px;
  width: 60%;
}
.response {
  margin: 15px;
}
.hours-list {
  margin-top: 15px;
}

@media (max-width: 600px) {
  .logo {
    margin: 0 auto;
    display: block;
    float: none;
    padding: 15px 0;
  }
  header nav {
    float: none;
    text-align: center;
  }
  .navigation {
    padding: 0;
    margin: 0;
  }
  .about-info h1 {
    font-size: 5rem; 
  }
  .about-info {
    font-size: 2rem;
  }
  .about-info p {
    width: 100%;
  }
  .about {
    padding: 150px 20px;
  }
  .artist {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .input-group input[type="email"] {
    width: 100%;
  }
  .mce-responses {
    width: 100%;
  }
}